includeConfig 'conf/base.config'

params {

  samplesheet = 'index.csv'
  publish_dir = 'results'
  outdir = 'results'
  merge = false
  help = false

  qc_only = false
  preprocessing_only = false
  adapter_trimming = false

  porechop_options = null
  porechop_custom_primers = false
  porechop_custom_primers_path = "${projectDir}/bin/adapters.txt"
  polishing = true

  qual_filt = false
  chopper_options = null
  fastplong_min_quality = 8
  fastplong_min_length = 100

  host_filtering = false
  host_fasta = null

  analysis_mode = null

  rattle_clustering_options = null
  rattle_clustering_min_length = null
  rattle_clustering_max_length = null
  rattle_polishing_options = null
  contamination_flag_threshold = '0.01'

  blast_mode = 'ncbi'
  blast_threads = 4
  blastn_db = null
  blastn_COI = null
  blast_vs_ref = false
  taxdump = null

  reference = null
  medaka_consensus_options = null
  bcftools_min_coverage = 5
}

process {
  withName: BLASTN { container = "quay.io/biocontainers/blast:2.16.0--h66d330f_4" }
  withName: BLASTN2 { container = "quay.io/biocontainers/blast:2.16.0--h66d330f_4" }
  withName: BLASTN_COI { container = "quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0" }
  withName: CHOPPER { container = "quay.io/biocontainers/chopper:0.5.0--hdcf5f25_2" }
  withName: COVSTATS { container = "docker://infrahelpers/python-light:py310-bullseye" }
  withName: CUTADAPT { container = "quay.io/biocontainers/cutadapt:5.0--py39hbcbf7aa_0" }
  withName: FASTA2TABLE { container = "docker.io/gauthiem/ontvisc" }
  withName: EXTRACT_BLAST_HITS { container = "quay.io/biocontainers/pytaxonkit:0.9.1--pyhdfd78af_1" }
  withName: FASTCAT { container = "ontresearch/wf-amplicon:sha7d1766bb6196d4c370d6bd45d89154e7c1fef0b3" }
  withName: FASTPLONG { container = "quay.io/biocontainers/fastplong:0.2.2--heae3180_0" }
  withName: FASTQ2FASTA { container = "quay.io/biocontainers/seqtk:1.3--h7132678_4" }
  withName: MEDAKA2 { container = "quay.io/biocontainers/medaka:2.0.1--py38h8774169_0" }
  withName: MINIMAP2_RACON { container = "quay.io/biocontainers/minimap2:2.24--h7132678_1" }
  withName: MINIMAP2_REF { container = "quay.io/biocontainers/minimap2:2.24--h7132678_1" }
  withName: MINIMAP2_CONSENSUS { container = "quay.io/biocontainers/minimap2:2.24--h7132678_1" }
  withName: MOSDEPTH { container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2" }
  withName: NANOPLOT { container = "quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0" }
  withName: PORECHOP_ABI { container = "quay.io/biocontainers/porechop_abi:0.5.0--py38he0f268d_2" }
  withName: PYFAIDX { container = "quay.io/biocontainers/pyfaidx:0.8.1.3--pyhdfd78af_0" } 
  withName: QCREPORT { container = "docker://infrahelpers/python-light:py310-bullseye" }
  withName: RATTLE { container = "ghcr.io/eresearchqut/rattle-image:0.0.1" }
  withName: REVCOMP { container = "docker://infrahelpers/python-light:py310-bullseye " }
  withName: RACON { container = "quay.io/biocontainers/racon:1.5.0--h077b44d_6" }
  withName: REFORMAT { container = "quay.io/biocontainers/bbmap:39.01--h92535d8_1" }
  withName: SAMTOOLS { container = "quay.io/biocontainers/samtools:1.16.1--h6899075_1" }
  withName: SAMTOOLS_CONSENSUS { container = "quay.io/biocontainers/samtools:1.16.1--h6899075_1" }
}
profiles {
  docker {
    docker.enabled = true
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
  }
}

manifest {
    name            = 'ont_amplicon'
    author          = 'eResearch, QUT'
    homePage        = 'https://github.com/maelyg/ont_amplicon'
    description     = 'ont_amplicon'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    defaultBranch   = 'main'
}
