process {

  cpus = 1
  memory = 1.GB
  time =  1.h 

  withLabel: setting_1 {
    cpus = 1
    memory = 8.GB
  }

  withLabel: setting_2 {
    cpus = 2
    memory = 8.GB
  }

  withLabel: setting_3 {
    cpus = 2
    memory = 12.GB
  }

  withLabel: setting_10 {
    cpus = 2
    memory = { 36.GB * task.attempt }
    time = { 3.h * task.attempt }
  }

  errorStrategy = 'retry'
    maxRetries = 2
    maxErrors = 2
}
