/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile mtdt_test,singularity
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function on a single quality-filtered fastq file'    

    // Input data
    samplesheet = "$baseDir/tests/index_mtdt.csv"

    // Blastdb reference path
    analysis_mode = 'clustering'
    blast_db_dir = "$baseDir/tests"
    merge = true
    adapter_trimming = true
    qual_filt = true
    chopper_options = '-q 8 -l 100'
    blast_threads = 2
    blastn_db = "$baseDir/tests/reference.fasta"
    blastn_COI = "$baseDir/tests/MetaCOXI_Seqs.fasta"
    taxdump = "~/.taxonkit"
    analyst_name = 'Grace Sun'
    facility = 'MTDT'
}
